<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.personalprism.personalprism_droid"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="io.github.personalprism.personalprism_droid" >
    </instrumentation>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:debuggable="true" android:icon="@drawable/ic_prism">
        <uses-library android:name="android.test.runner" >
        </uses-library>
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:allowClearUserData="true" android:killAfterRestore="true" android:restoreAnyVersion="false">
        <activity
            android:name="io.github.personalprism.personalprism_droid.MainUIScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".DbHandler" />
        <activity
            android:name="io.github.personalprism.personalprism_droid.MapView"
            android:label="Location heatmap"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity
            android:name="io.github.personalprism.personalprism_droid.AnimatedHistoricView"
            android:label="View of old location data"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAbxhdakZO5xhlhgmDCUh05czCpKqA4OGU"/>
    </application>

</manifest>
